*{
  box-sizing: border-box;
  font-family: 'Roboto' , sans-serif;
  color: white;
  text-decoration: none;
}
body {
  background-image: url(../images/jaguar-xe.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.container{
  max-width: 600px;
  padding: 10px 30px;
  margin: 30px 60px;
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;

}
p{
  font-size: 15px;
}
.button{
  max-width: 30%;
  display: inline-block;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
  background-color: #db3030;
  border-radius: 5px;
}
@media (max-width: 700px){
  .container{
    margin: 15px 30px;
  }
}
